.head {
  background-color: #244f67;
}
.guideWrap {
  width: 100%;
  background-color: #eff2f5;
  .guide {
    max-width: 1170px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 50px;
    .left,
    .right {
      width: 45%;
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        span {
          font-size: 25px;
          padding-right: 10px;
        }
      }
      p {
        margin-bottom: 1.25rem;
      }
      a {
        background: #244f67;
        color: #fff;
        padding: 10px 10px;
        border-radius: 3px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 20px;
        display: block;
        width: 190px;
        text-align: center;
      }
      .code {
        background: #dde0e2;
        color: #637280;
      }
    }
  }
}
.api_documentation {
  width: 100%;
  margin: 0 auto;
  padding: 60px;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .menu {
      width: 20%;
      color: rgba(22, 34, 47, 1);
      margin-top: 15px;
      border-right: 1px solid #eee;
      ul {
        list-style: none;
        margin-bottom: 20px;
        .doc_heading {
          font-weight: 600;
          padding: 10px 15px 11px;
          position: relative;
          font-size: 16px;
        }
        li {
          a {
            padding: 5px 15px;
            display: block;
            font-weight: 300;
            color: rgba(22, 34, 47, 1);
            &:hover {
              background-color: #dde0e2;
            }
          }
        }
      }
    }
    .content {
      width: 75%;
      color: #283f59;
      .topic {
        padding: 10px 0;
        margin-bottom: 10px;
        h2 {
          font-weight: 300;
          font-family: Promo, Helvetica, Arial, sans-serif;
          font-size: 30px;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 15px;
          font-size: 14px;
          line-height: 20px;
          a {
            text-decoration: underline;
            color: #283f59;
          }
        }

        h3 {
          font-family: Promo, Helvetica, Arial, sans-serif;
          font-size: 19px;
          margin-top: 10px;
          border-bottom: 1px solid #dde1e7;
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
        code {
          padding: 2px 4px;
          font-size: 97%;
          color: #c7254e;
          white-space: nowrap;
          background-color: #f9f2f4;
          border-radius: 4px;
        }
        pre {
          background: #192738;
          padding: 15px;
          width: 100%;
          color: #fff;
          border-radius: 5px;
          margin-bottom: 10px;
          font-size: 13px;
          max-width: 100%;
          position: relative;
          a {
            background: rgba(255, 255, 255, 0.25);
            padding: 5px 10px;
            position: absolute;
            right: 10px;
            top: 10px;
            font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial,
              sans-serif;
            font-weight: 600;
            border-radius: 3px;
            color: white;
          }
        }
      }
    }
  }
}
.signUpDown {
  .signUpDownMain {
    a {
      margin-left: 1.25rem;
      background-color: #244f67;
    }
  }
}
